{% extends 'base1.html' %} {% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>We'd love to hear from you!</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Email</h4>
            <p>Email us at: <a href="mailto:salgo666699@gmail.com">salgo666699@gmail.com</a></p>
        </div>
        <div class="col-md-6">
            <h4>Customer Care Phone</h4>
            <p>Call us at: <a href="tel:+916304109306">+916304109306</a></p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Office Address</h4>
            <address>
                Address:- FLAT NO H 5 1006 ,MANIKONDA, JAGIR,GANDIPET,HYDERABAD-500089
            </address>
        </div>
    </div>
</div>

 {% endblock %}