{% extends 'base.html' %} {% block content %}
    <div class="container mt-4">
        <h2>Trades History</h2>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                {% for page_num in range(1, total_pages + 1) %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="?page={{ total_pages }}">Last</a></li>
            </ul>
        </nav>
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>PNL</th>
                        <th>Option Name</th>
                        <th>Time</th>
                        <th>Bot Name</th>
                        <th>Entry Price</th>
                        <th>Side</th>                    
                        <th>Lot</th>
                        <th>Option Entry</th>
                        <th>Option Exit</th>
                        <th>Option Lot</th>
                        <th>Option Expiry</th>
                        <th>Live</th>
                        <th>Exit Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td style="color: {% if item.pnl > 0 %}green{% else %}red{% endif %};">{{ item.pnl }}</td>
                        <td>{{ item.optionname }}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.botname }}</td>
                        <td>{{ item.entry_price }}</td>
                        <td>{{ item.side }}</td>
                        <td>{{ item.lot }}</td>
                        <td>{{ item.optionentry }}</td>
                        <td>{{ item.optionexit }}</td>
                        <td>{{ item.optionlot }}</td>
                        <td>{{ item.optionexpiry }}</td>
                        <td>{{ item.live }}</td>
                        <td>{{ item.exittime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>

    <!-- Bootstrap JS -->
{% endblock %}