{% extends 'base.html' %} {% block content %}
    <div class="container mt-4">
        <h2>Stock Data</h2>
        <form action="/stocks" method="GET">
            <div class="form-group">
                <label for="date">Filter by Date:</label>
                <input type="date" id="date" name="date" class="form-control" onchange="this.form.submit()"
                       {% if selected_date %} value="{{ selected_date }}" {% endif %}>
            </div>
        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Stocks</th>
                    <th>Time</th>
                    <th>Prices</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry['date'] }}</td>
                    <td>{{ entry['stocks'] }}</td>
                    <td>{{ entry['time'] }}</td>
                    <td>{{ entry['prices'] }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
