{% extends 'base.html' %} {% block content %}

    <!-- Regular MDB theme -->
    <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
    <style>
      /* Custom style to add a black border to the container */
      .custom-container {
        border: 2px solid #000; /* Black border with 2px width */
        padding: 20px; /* Optional: Add padding for better visual appearance */
        width: 200px;
        margin-right: 0;
      }
.input-group-append {
  cursor: pointer;
}

    </style>
 
<!-- Tabs navs -->
<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      data-mdb-tab-init
      class="nav-link active"
      id="ex2-tab-1"
      href="#ex2-tabs-1"
      role="tab"
      aria-controls="ex2-tabs-1"
      aria-selected="true"
      >BOT</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      data-mdb-tab-init
      class="nav-link"
      id="ex2-tab-2"
      href="#ex2-tabs-2"
      role="tab"
      aria-controls="ex2-tabs-2"
      aria-selected="false"
      >TrendTools</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      data-mdb-tab-init
      class="nav-link"
      id="ex2-tab-3"
      href="#ex2-tabs-3"
      role="tab"
      aria-controls="ex2-tabs-3"
      aria-selected="false"
      >API</a
    >
  </li>

  <li class="nav-item" role="presentation">
    <a
      data-mdb-tab-init
      class="nav-link"
      id="ex2-tab-4"
      href="#ex2-tabs-4"
      role="tab"
      aria-controls="ex2-tabs-4"
      aria-selected="false"
      >Settings</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
  <div
    class="tab-pane fade show active"
    id="ex2-tabs-1"
    role="tabpanel"
    aria-labelledby="ex2-tab-1"
  >
    <div class="container mt-4">
  <h2>Order Table</h2>
  <div class="mb-2">
    <a href="{{ url_for('add_order_form') }}" class="btn btn-success"
      >Add Order</a
    >
  </div>

<div class="table-responsive-sm">
  <table class="table table-bordered table-sm" style="max-height: 50px;overflow-x: auto;overflow-y: auto;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>IN TRADE</th>
        <th>T Type</th>
        <th>S LTP</th>

        <th>CMP</th>
        <th>T Price</th>
        <th>Option</th>
        <th>LOTS</th>
        <th>Trail </th>
        <th>TSL</th>
        <th>TP1</th>
        <th>TP2</th>
        <th>SL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for order in orders %}
      <tr>
        <td>{{ order["entry_id"] }}</td>
        <td>{{ order["symbol"] }}</td>
        <td>NO</td>
        <td>{{ order["trigger_type"] }}</td>
        <td id="price_{{order['time']}}"></td>
        <td>{{ order["comparator_type"] }}</td>
        <td>{{ order["trigger_price"] }}</td>
        <td>{{ order["option_type"] }}</td>
        <td>{{ order["lot"] }}</td>
        <td>{{ order["trail"] }}</td>
        <td>{{ order["trail_stoploss"] }}</td>
        <td>{{ order["tp_1"] }}</td>
        <td>{{ order["tp_2"] }}</td>
        <td>{{ order["sl"] }}</td>

        <td>
          <a
            href="{{ url_for('edit_order_form', order_time=order['time']) }}"
            class="btn btn-primary btn-sm"
            >Edit</a
          >
          <a
            href="{{ url_for('delete_order', order_time=order['time']) }}"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table></div>
</div>

<div class="container mt-4">
  <h2>Position Table</h2>
<div class="table-responsive-sm">

  <table class="table table-bordered table-sm" style="max-height: 50px;overflow-x: auto;overflow-y: auto;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>T Type</th>
        <th>S LTP</th>
        <th>LTP</th>
        <th>CMP</th>
        <th>T Price</th>
        <th>Option</th>
        <th>LOTS</th>
        <th>Trail </th>
        <th>TSL</th>
        <th>TP1</th>
        <th>TP2</th>
        <th>SL</th>
        <th>PNL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for order in positions %}
      <tr>
        <td>{{ order["time"] }}</td>
        <td>{{ order["optionname"] }}</td>
        <td>{{ order["track"] }}</td>
        <td id="current_price_{{order['entry_id']}}"></td>
        <td id="current_option_price_{{order['entry_id']}}"></td>
        <td>{{ order["comparator_type"] }}</td>
        <td>{{ order["entry_price"] }}</td>
        <td>{{ order["side"] }}</td>
        <td>{{ order["lot"] }}</td>
        <td>{{ order["trail"] }}</td>
        <td>{{ order["tsl"] }}</td>
        <td>{{ order["tp_1"] }}</td>
        <td>{{ order["tp_2"] }}</td>
        <td>{{ order["sl"] }}</td>
        <td id="pnl_{{order['entry_id']}}">{{ order["pnl"] }}</td>

        <td>
          <a href="{{ url_for('edit_position_form', position_time=order['entry_id']) }}"
            class="btn btn-primary btn-sm"
            >Update</a>
          <a href="{{ url_for('delete_position', position_time=order['entry_id']) }}"
            class="btn btn-danger btn-sm">Exit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table></div>
</div>

<div class="container mt-4">
  <h2>Closed Order Table</h2>
  <div class="table-responsive-sm">
  <table class="table table-bordered table-sm" style="max-height: 50px;overflow-x: auto;overflow-y: auto;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>IN TRADE</th>
        <th>T Type</th>
        <th>S LTP</th>

        <th>CMP</th>
        <th>T Price</th>
        <th>Option</th>
        <th>LOTS</th>
        <th>Trail </th>
        <th>TSL</th>
        <th>TP1</th>
        <th>TP2</th>
        <th>SL</th>
      </tr>
    </thead>
    <tbody>

      {% for order in closedorders %}
      <tr>
        <td>{{ order["entry_id"] }}</td>
        <td>{{ order["symbol"] }}</td>
        <td>NO</td>
        <td>{{ order["trigger_type"] }}</td>
        <td >0</td>
        <td>{{ order["comparator_type"] }}</td>
        <td>{{ order["trigger_price"] }}</td>
        <td>{{ order["option_type"] }}</td>
        <td>{{ order["lot"] }}</td>
        <td>{{ order["trail"] }}</td>
        <td>{{ order["trail_stoploss"] }}</td>
        <td>{{ order["tp_1"] }}</td>
        <td>{{ order["tp_2"] }}</td>
        <td>{{ order["sl"] }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table></div>
</div>

<div class="container mt-4">
  <h2>Closed Position Table</h2>
  <div class="table-responsive-sm">

  <table class="table table-bordered table-sm scrollable-table" style="max-height: 50px;overflow-y: auto;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Symbol</th>
        <th>T Type</th>
        <th>S LTP</th>
        <th>LTP</th>
        <th>CMP</th>
        <th>T Price</th>
        <th>Option</th>
        <th>LOTS</th>
        <th>Trail </th>
        <th>TSL</th>
        <th>TP1</th>
        <th>TP2</th>
        <th>SL</th>
        <th>PNL</th>
        <th>Close Time</th>
      </tr>
    </thead>
    <tbody>

      {% for order in closedpositions %}
      <tr>
        <td>{{ order["time"] }}</td>
        <td>{{ order["optionname"] }}</td>
        <td>{{ order["track"] }}</td>
        <td id="current_price_{{order['entry_id']}}">0</td>

        <td id="current_option_price_{{order['entry_id']}}">0</td>
        <td>{{ order["comparator_type"] }}</td>
        <td>{{ order["entry_price"] }}</td>
        <td>{{ order["side"] }}</td>
        <td>{{ order["lot"] }}</td>
        <td>{{ order["trail"] }}</td>
        <td>{{ order["tsl"] }}</td>
        <td>{{ order["tp_1"] }}</td>
        <td>{{ order["tp_2"] }}</td>
        <td>{{ order["sl"] }}</td>
        <td >{{ order["pnl"] }}</td>
        <td >{{ order["exittime"] }}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table></div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function updatePNLAndCurrentPrice(entry_id) {
        // Make an AJAX request to the server endpoint
        $.ajax({
            url: `/get_pnl_current_price/${entry_id}`,
            type: 'GET',
            success: function (data) {
                // Update the corresponding elements on the page
                $(`#pnl_${entry_id}`).text(data.pnl);
                $(`#current_price_${entry_id}`).text(data.current_price);
                $(`#current_option_price_${entry_id}`).text(data.option_price);
            },
            error: function (error) {
                console.error('Error fetching PNL and current price:', error);
            }
        });
    }

    // Function to fetch order entry IDs from the server
    function getOrderEntryIds() {
        // Make an AJAX request to get the order entry IDs
        $.ajax({
            url: '/get_order_entry_ids',
            type: 'GET',
            success: function (data) {
                // Start periodic updates with the retrieved order entry IDs
                const order_entry_ids = data.order_entry_ids;
                order_entry_ids.forEach(updatePNLAndCurrentPrice);

                // Periodically update PNL and current price every 2 seconds
                setInterval(function () {
                    order_entry_ids.forEach(updatePNLAndCurrentPrice);
                }, 2000);
            },
            error: function (error) {
                console.error('Error fetching order entry IDs:', error);
            }
        });
    }

    // Call the function to fetch order entry IDs when the page loads
    $(document).ready(getOrderEntryIds);
</script>
  </div>
  <div
    class="tab-pane fade"
    id="ex2-tabs-2"
    role="tabpanel"
    aria-labelledby="ex2-tab-2"
  >
 
    <form method="post" class="row" action="{{ action_url }}">
    
    <div class="col">
      <label for="date" class="form-control-sm">Date</label>
        <br>
      <div class="input-group date md-form " id="datepicker">
        
        <input type="text" class="form-control form-control-sm" name="date" id="date"/>
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
      </div>
    </div>

      <div class="col">
        <div class="md-form">
          <label for="calcdate" class="form-control-sm">Days for Calculation</label>
          <input
            type="number"
            class="form-control form-control-sm"
            id="calcdate"
            name="calcdate"
            value="30"
            
          />

        </div> </div> 

        <div class="col">
        <div class="md-form" >
          <label for="exch" class="form-control-sm">Indian Exchanges</label>
          <select class="form-control form-control-sm" id="exch" name="exch" >

            <option value="NSE">NSE</option>
            <option value="INDEX">INDEX</option>
            <option value="CDS">CDS</option>
            <option value="MCX">MCX</option>

              </select></div>
            </div>

            <div class="col">
        <div class="md-form" >
          <label for="symbol" class="form-control-sm">Symbols</label>
          <select class="form-control form-control-sm" id="symbol" name="symbol" >

            <option value="NSE">NSE1</option>
            <option value="NSE">NSE2</option>
            <option value="INDEX">INDEX1</option>
            <option value="INDEX">INDEX2</option>
            
            <option value="CDS">CDS1</option>
            <option value="MCX">MCX1</option>
            <option value="CDS">CDS2</option>
            <option value="MCX">MCX2</option>

              </select></div>
            </div>

            <div class="col">
        <div class="md-form">
          <label  class="form-control-sm">Submit</label>
          <br>
          <button type="submit" class="btn btn-primary btn-sm">
            Submit
          </button>
        </div>
      </div>
    
  </form>


  </div>
  <div
    class="tab-pane fade"
    id="ex2-tabs-3"
    role="tabpanel"
    aria-labelledby="ex2-tab-3"
  >
    <div class="container mt-4" >
      <h2>{% if order %}Edit API{% else %}Add API{% endif %}</h2>
      <form method="post" action="{{ action_url }}">
        <div class="row">
          
        {% if order %}
        <div class="col">
        <div class="md-form">
          <label for="_id" class="form-control-sm">ID</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="_id"
            name="_id"
            value="{% if order %}{{ order['_id'] }}{% endif %}"
            {%
            if
            order
            %}readonly{%
            endif
            %}
          />
        </div> </div> 
        {% endif %} 

        <div class="col">
        <div class="md-form">
          <label for="apikey" class="form-control-sm">API KEY</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="apikey"
            name="apikey"
            value="{% if order %}{{ order['apikey'] }}{% endif %}"

          />
        </div></div> 
      
      <div class="col">
        <div class="md-form">
          <label for="apisecret" class="form-control-sm">API SECRET</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="apisecret"
            name="apisecret"
            value="{% if order %}{{ order['apisecret'] }}{% endif %}" />

        </div></div> 
        
      <div class="col">
        <div class="md-form">
          <label  class="form-control-sm">Submit</label>
          <br />
          <button type="submit" class="btn btn-primary btn-sm">
            {% if order %}Save{% else %}Add API{% endif %}
          </button>
        </div>
      </div>

      </div>
      
        


      </form>
    </div>
  </div>
</div>

  <div
    class="tab-pane fade"
    id="ex2-tabs-4"
    role="tabpanel"
    aria-labelledby="ex2-tab-4"
  >
    Tab 4 content
  </div>
</div>
<!-- Tabs content -->



<script type="module">
  // Initialization for ES Users
import { Tab, initMDB } from "mdb-ui-kit";

initMDB({ Tab });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to format the date as "YYYY-MM-DD"
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        // Get the current date and format it
        const currentDate = new Date();
        const formattedDate = formatDate(currentDate);

        // Set the formatted date to the input field
        document.getElementById("date").value = formattedDate;

        const activeTab = localStorage.getItem('activeTab');

    // If there's an active tab, set it
    if (activeTab) {
      const tabLink = document.querySelector(`[href="${activeTab}"]`);
      if (tabLink) {
        tabLink.click();
      }
    }
    });

    document.querySelectorAll('.nav-link').forEach(function (tabLink) {
    tabLink.addEventListener('click', function () {
      const activeTab = this.getAttribute('href');
      localStorage.setItem('activeTab', activeTab);
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to update symbols based on the selected exchange
    function updateSymbols() {
      var exchangeSelect = document.getElementById("exch");
      var symbolSelect = document.getElementById("symbol");
      var selectedExchange = exchangeSelect.value;

      // Clear existing options
      symbolSelect.innerHTML = "";

      // Add new options based on the selected exchange
      if (selectedExchange === "NSE") {
        
        {% for symbol in nse_symbols %}
            addOption(symbolSelect, "{{symbol}}")
        {% endfor %}

      } else if (selectedExchange === "INDEX") {
        {% for symbol in index_symbols %}
          addOption(symbolSelect, "{{symbol}}")
        {% endfor %}
      } else if (selectedExchange === "CDS") {
        addOption(symbolSelect, "CDS1");
        addOption(symbolSelect, "CDS2");
      } else if (selectedExchange === "MCX") {
        addOption(symbolSelect, "MCX1");
        addOption(symbolSelect, "MCX2");
      }
    }

    // Helper function to add options to a select element
    function addOption(selectElement, value) {
      var option = document.createElement("option");
      option.value = value;
      option.text = value;
      selectElement.add(option);
    }

    // Attach the onchange event to the exchange select element
    document.getElementById("exch").onchange = updateSymbols;

    // Call the updateSymbols function on document ready
    updateSymbols();
  });
</script>
<script type="text/javascript">
  $(function(){
  $('#datepicker').datepicker();
});
</script>
{% endblock %}







